/Exercise-1/package.json
/Exercise-1/package-lock.json
/Exercise-1/node_modules
/Exercise-1/.cache
/Exercise-1/dist
/Exercise-2/package.json
/Exercise-2/package-lock.json
/Exercise-2/node_modules
/Exercise-2/.cache
/Exercise-2/dist
/Exercise-3/package.json
/Exercise-3/package-lock.json
/Exercise-3/node_modules
/Exercise-3/.cache
/Exercise-3/dist
/Exercise-4/package.json
/Exercise-4/package-lock.json
/Exercise-4/node_modules
/Exercise-4/.cache
/Exercise-4/dist
