@import 'themes';
$color-base: null;
@for $k from 3 through 1 {
    @if $k==1 {
        $color-base: red;
        $color-font: aqua
    }
    @else if $k==2 {
        $color-base: blue;
        $color-font: lightslategray;
    }
    @else {
        $color-base: green;
        $color-font: lightslategray;
    }
    .container-#{$k} {
        .base-color {
            background-color: $color-base;
        }
        @for $i from 4 through 1 {
            .darken-#{$i} {
                background-color: darken($color-base, 3% * $i);
                .color-box-text {
                    color: $color-font;
                }
            }
            .lighten-#{$i} {
                background-color: fade_out($color-base, 0.2 * $i);
                .color-box-text {
                    color: $color-font;
                }
            }
        }
    }
}